/*
  IMPORTANT! 
  - Use em or percent (%), DO NOT use px or pt! (The widget must be scalable)
  - 1 em = 10 px (defined in /skins/sharedstyles.css - DO NOT CHANGE!)
  
  Example.
  Wrong:
  img.myimage
  {
    width: 210px;
    height: 33px;
  }
  
  Right:
  img.myimage
  {
    width: 21em; 
    height: 3.3em;
  }
  
  Orange HC (High Contrast)
  by Mathias Andersson
*/

div.topbar
{
  width: 27em;
  height: 4.8em;
}

div.topbar div.contents div.text
{
  color: #222;
  margin: 1.2em 1.5em 0em 1.5em;
  font-size: 1.6em;
  font-weight: bold;
  text-shadow: #222 0em 0em 0.2em;
  text-align: center;
}

div.bottombar
{
  width: 27em;
  height: 3.2em;
}

div.bottombar div.contents div.container
{
  text-align: left;
  padding-left: 0.5em;
}

div.resizer
{
  padding-top: 0.2em; 
}

#infobutton
{
  color: #000;
  bottom: 0.2em;
  right: 1.2em;
}

#infobutton:hover
{
  text-shadow: #000 0em 0em 0.2em;
  bottom: 0.25em;
  right: 1.25em;
}

